html, body{
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#mainContainer{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}
/* HEADER */
#header{
    display: contents;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: aqua;
    grid-column: 1/-1;
    text-align: center;
    align-content: center;
}

#catsAndDogsInnit{
    align-self: center;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-column: 1/2;
}

#searchedLocation{
    align-self: center;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
}

#currentDate{
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
    align-self: center;
}
/*FOCUSED DAYS CONTAINER*/
#middleContainer{
    height: 100%;
    display: grid;
    grid-template-columns: auto 3fr auto;
    grid-column: 1/-1;
    background-color: green;
}

#focusedWeatherContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    text-align: center;
    border: 3px solid black;
    background-color: wheat;
    height: 100%;
    grid-column: 2;
}

#focusedWeatherDataContainer{
    display: grid;
    text-align: center;
    align-items: center;
}

#mainContainerFooter {
    grid-column: 1 / -1; /* Span across all columns */
    height: auto;
    background-color: blueviolet;
    border: solid black 1px;
}

#mainContainerFooter{

}